body {
  font-family: Roboto, serif !important;
}

.wrapper {
    padding: 0;
}
#map {
    height: 100%;
    width: 100%;
    position: absolute;
}
.layer-switcher-container {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 100%;
    width: 100%;
    z-index: 999;
}
.layer-switcher {
    top: -50px;
    margin: 0 auto;
    align-self: center;
}
.location-info-container {
  color: white;
  font-size: 50px;
  top: 20px;
  right: 20px;
  position: fixed;
  text-align: right;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  z-index: 999;
}
.location-info-container span {
  display: block;
}
.location-temperature {
  float: right;
  font-size: 1.0em;
  font-weight: 500;
  margin-bottom: -10px;
}
.weather-summary {
  clear: right;
  font-size: 0.4em;
  font-weight: 400;
}
.location {
  font-size: 0.4em;
  font-weight: 400;
}

.leaflet-bottom {
    display: none;
}

.click-info-container {
  position: relative;
}
.leaflet-popup-content-wrapper {
  border-radius: 4px;
  min-width: 300px;
}
.leaflet-popup-content {
  font-size: 18px;
}
.click-info-container {
  position: relative;
}
.click-info-container .animation {
  position: absolute;
  height: 100px;
  top: -60px;
  left: -45px;
  width: 350px;
}
.click-info-container .info {
  font-size: 16px;
  margin-top: 80px;
}
.info-current-temperature {
  font-size: 2.0em;
  float: right;
}
.info-summary, .info-location {
  font-size: 1.0em;
  clear: left;
  text-align: left;
  line-height: 120%;
}
.info-location {
  font-size: 0.7em;
}
.info hr {
  margin: 5px 0;
}
.info-dl {
  font-size: 0.8em;
  margin-bottom: 0;
}
.info-dl dt {
  width: 50%;
  text-align: left;
}
.info-dl dd {
  margin-left: 22%;
}
.day-summary {
  font-size: 0.7em;
  width: 261px;
  overflow: hidden;
}
.info-uv, .info-co {
  font-size: 0.8em;
}
.nav-tabs {
  border: none;
  margin-left: 56px;
  margin-top: 15px;
}
.nav-tabs > li > a {
  border: 1px solid #DDD;
  border-radius: 0;
  margin-right: 0;
}
.nav-tabs > li:first-child > a {
  border-radius: 4px 0 0 4px;
  border: 1px solid #DDD;
}
.nav-tabs > li:last-child > a {
  border-radius: 0 4px 4px 0;
  border: 1px solid #DDD;
}
.nav > li > a {
  font-size: 0.6em;
  padding: 5px 10px;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
  background-color: #DDD;
}

@keyframes raining {
		0% {
			background-position: 0px 0px;
		}
		100% {
			background-position: 0px 200px;
		}
	}

	@-o-keyframes raining {
		0% {
			background-position: 0px 0px;
		}
		100% {
			background-position: 0px 200px;
		}
	}

	@-ms-keyframes raining {
		0% {
			background-position: 0px 0px;
		}
		100% {
			background-position: 0px 200px;
		}
	}

	@-moz-keyframes raining {
		0% {
			background-position: 0px 0px;
		}
		100% {
			background-position: 0px 200px;
		}
	}

	@-webkit-keyframes raining {
		0% {
			background-position: 0px 0px;
		}
		100% {
			background-position: 0px 200px;
		}
	}
.rain-animation {
  background: url('/images/weather_images/rain_day.png') center center;
  background-size: cover;
  width: 300px;
  height: 80px;
  position: absolute;
  top: 0;
  left: 25px;
  /*z-index: 999;*/
  animation: raining 1s linear 0s infinite normal;
  -o-animation: raining 1s linear 0s infinite normal;
  -ms-animation: raining 1s linear 0s infinite normal;
  -moz-animation: raining 1s linear 0s infinite normal;
  -webkit-animation: raining 1s linear 0s infinite normal;
}
.big-snow-animation {
  background: url('/images/weather_images/rain_day.png') center center;
  background-size: cover;
  width: 300px;
  height: 80px;
  position: absolute;
  top: 0;
  left: 25px;
  /*z-index: 999;*/
  animation: raining 1s linear 0s infinite normal;
  -o-animation: raining 1s linear 0s infinite normal;
  -ms-animation: raining 1s linear 0s infinite normal;
  -moz-animation: raining 1s linear 0s infinite normal;
  -webkit-animation: raining 1s linear 0s infinite normal;
}
.small-snow-animation {
  background: url('/images/weather_images/rain_day.png') center center;
  background-size: cover;
  width: 300px;
  height: 80px;
  position: absolute;
  top: 0;
  left: 25px;
  /*z-index: 999;*/
  animation: raining 1s linear 0s infinite normal;
  -o-animation: raining 1s linear 0s infinite normal;
  -ms-animation: raining 1s linear 0s infinite normal;
  -moz-animation: raining 1s linear 0s infinite normal;
  -webkit-animation: raining 1s linear 0s infinite normal;
}