body {
  font-family: Roboto, serif;
}

.wrapper {
    padding: 0;
}
#map {
    height: 100%;
    width: 100%;
    position: absolute;
}
.layer-switcher-container {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 100%;
    width: 100%;
    z-index: 999;
}
.layer-switcher {
    top: -50px;
    margin: 0 auto;
    align-self: center;
}
.location-info-container {
  color: white;
  font-size: 50px;
  top: 20px;
  right: 20px;
  position: fixed;
  text-align: right;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  z-index: 999;
}
.location-info-container span {
  display: block;
}
.location-temperature {
  float: right;
  font-size: 1.0em;
  font-weight: 500;
  margin-bottom: -10px;
}
.weather-summary {
  clear: right;
  font-size: 0.4em;
  font-weight: 400;
}
.location {
  font-size: 0.4em;
  font-weight: 400;
}

.leaflet-bottom {
    display: none;
}

.click-info-container {
  position: relative;
}
.animation {
  position: absolute;
  
}